body {
  background-color: #363126 !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 60px !important;
  height: 55px !important;
}

h1 {
  color: #fff;
  font-family: Kanit regular 400 !important;
  font-size: 46px !important;
}

.btn-success {
  width: 250px !important;
}
